:root {
  --sidebar-width: 20vw;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

@font-face {
  font-family: 'PixAntiqua';
  src: url('../assets/PixAntiqua.ttf') format('truetype');
}

body {
  font-family: 'PixAntiqua', sans-serif;
}

.app-layout {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    to bottom,
    #4ab1e6  0%  10%,
    #49aee4 10%  20%,
    #49abe2 20%  30%,
    #48a8e1 30%  40%,
    #48a5df 40%  50%,
    #47a2dd 50%  60%,
    #3d94cd 60%  70%,
    #3485bc 70%  80%,
    #2a77ac 80%  90%,
    #20689b 90% 100%
  );

  min-height: 300vh;
}

.app-content {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.app-content__pages {
  display: flex;
  justify-content: flex-start;
  padding: 3vw 8vw;
  flex-direction: column;
}

.lake-bottom {
  margin-top: auto;
  width: 100%;

  height: 120px;

  background-image: url('../assets/lake_bottom.png');
  background-size: auto auto;
  background-repeat: repeat-x;
  background-position: bottom center;
}

